{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="p-4 p-md-5 mb-4 text-white bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-bold">ABOUT ME</h1>
      <p class="lead my-3">I LOVE TO EXPLORE NEW POSSIBILITIES CODING AND ALWAYS TRY TO LEARN AS MUCH AS POSSIBLE</p>
    </div>
</div>
<div class="container my-3">
    <h1 class="my-4 text-center">QUALIFICATION</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
            <img src="/static/8.jpg" class="d-block w-100" alt="...">
                
                <div class="card-body">
                    <h1>B.TECH</h1>
                  <h3>GRAPHIC ERA HILL UNIVERSITY</h3>
                  <h4>2018 - 70.6%</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    
                    <small class="text-muted">CIVIL ENGINEERING</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card mb-4 shadow-sm">
                <img src="/static/9.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h1>12 TH</h1>
                    <h3>D.A.V PUBLIC SCHOOL DEHRADUN</h3>
                    <h4>2014 - 78.0%</h4>
                  <div class="d-flex justify-content-between align-items-center">
                   
                    <small class="text-muted">SCIENCE</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card mb-4 shadow-sm">
                <img src="/static/10.jpg" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h1>10 TH</h1>
                    <h3>D.A.V PUBLIC SCHOOL DEHRADUN</h3>
                    <h4>2012 - 81.6%</h4>
                  <div class="d-flex justify-content-between align-items-center">
                   
                    <small class="text-muted">SCIENCE</small>
                  </div>
                </div>
              </div>
            </div>
    
            
            
          </div>
</div>





{% endblock body %}
